<!-- change password Modal starts here -->
<div class="modal fade" id="change_password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header text-light">
                <button type="button" class="btn-close bg-primary" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container wow" data-wow-delay="0.1s">
                    <div class="bg-dark d-flex align-items-center">
                        <div class="p-3 wow" data-wow-delay="0.2s">
                            <h3 class="text-white text-center mb-4">Change Password</h3>
                            <form method="post" action="{% url 'change_password' %}">
                                {% csrf_token %}
                                <div class="row g-2">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password" required>
                                            <label for="old_password">Old Password</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="New Password" required>
                                            <label for="new_password1">New Password</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="Confirm Password" required>
                                            <label for="new_password2">Confirm Password</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Change Password</button>
                                    </div>
                                </div>
                            </form>
                            {% if messages %}
                            <div class="messages mt-3">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Change password modal ends here -->
