

<!-- Profile modal starts here -->
<div class="modal fade bg-dark" id="profile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered bg-dark">
      <div class="modal-content bg-dark">
        <div class="modal-header text-light bg-dark">
          <h3 class="text-primary text-center">Profile</h3>
          <button type="button" class="btn-close bg-primary" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-light text-primary">
           <div class="container wow" data-wow-delay="0.1s">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-4 text-center mb-3 mb-md-0">
                {% if user.gender.title == 'male' %}
                  <img class="rounded-circle mt-5" width="150px" src="/static/img/male.jpg">
                {% else  %}
                  <img class="rounded-circle mt-5" width="150px" src="/static/img/female.jpeg">
                {% endif %}
                </div>
                <div class="col-8 m-1 py-3 pl-5">
                  <table>
                    <tr>
                      <th>First Name</th>
                      <td>:</td>
                      <td>{{user.firstname}}</td>
                    </tr>
                    <tr>
                      <th>Last Name</th>
                      <td>:</td>
                      <td>&nbsp;{{user.lastname}}</td>
                    </tr>
                    <tr>
                      <th>OtherName</th>
                      <td>:</td>
                      <td>&nbsp;{{user.othernames}}</td>
                    </tr>
                    <tr>
                      <th>File No</th>
                      <td>:</td>
                      <td>&nbsp;{{user.file_no}}</td>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <td>:</td>
                      <td>&nbsp;{{user.username}}</td>
                    </tr>
                    <tr>
                      <th>Gender</th>
                      <td>:</td>
                      <td>&nbsp;{{user.gender}}</td>
                    </tr>
                    <tr>
                      <th>User Group</th>
                      <td>:</td>
                      <td>&nbsp;{{user.group}}</td>
                    </tr>
                    <tr>
                      <th>Department</th>
                      <td>:</td>
                      <td>&nbsp;{{user.department}}</td>
                    </tr>
                    <tr>
                      <th>Phone</th>
                      <td>:</td>
                      <td>&nbsp;{{user.phone_number}}</td>
                    </tr>
                </table>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<!-- Profile modal ends here -->




