{% extends 'base/base.html' %}

{% block content %}
    <div class="container-fluid about">
        <div class="container-fluid py-2">
            <div class="row d-flex justify-content-center align-items-center text-primary h-100">
                <div class="text-center pb-2 wow" data-wow-delay="0.1s">
                    <h3 class="section-title ff-secondary text-center text-primary font-monospace">Welcome to Canteen App</h3>
                </div>
                <p>Your all-in-one solution for effortlessly managing your canteen needs!. At Canteen App, we’re committed to simplifying the canteen experience for clinicians and interns. Whether you’re placing an order, tracking your meal history, or managing your account, our app offers a seamless and intuitive experience designed to fit your fast-paced work life.</p>
                <h4 class="text-success">Key Features</h4>
                <p><b>✔ User-Friendly Interface:</b> Intuitive and easy-to-navigate design for a hassle-free experience.</p>
                <p><b>✔ Effortless Meal Ordering:</b> Browse a wide variety of meals and place orders directly from your mobile device.</p>
                <p><b>✔ Real-Time Notifications:</b> Receive instant updates on meal availability and order status, keeping you informed at all times.</p>
                <p><b>✔ Order History:</b> Quickly view past orders and reorder your favorites with just a few taps.</p>
                <h4 class="text-success">Why Choose Canteen App</h4>
                <p>The Canteen App is designed to provide maximum convenience and support a healthier work lifestyle. Our platform allows you to manage your daily meals efficiently, saving you precious time while ensuring that you get exactly the food you want. Whether you're in the middle of a hectic day or simply looking for a quick meal option, Canteen App enhances your canteen experience by making it seamless, efficient and enjoyable.</p>
                <br><br>
                <div class="text-success">
                    <p><b>Name: Canteen App</b></p>
                    <p><b>Version: 2.0</b></p>
                    <p><b>Release Date: October 2024</b></p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
