{% extends 'base/base.html' %}

{% block content %}
<div class="container-fluid contact">
    <div class="container-fluid py-3">
        <div class="row d-flex justify-content-center align-items-center text-primary h-100">
            <div class="text-center pb-2 wow" data-wow-delay="0.1s">
                <h3 class="section-title ff-secondary text-center text-primary font-monospace">Contact Us</h3>
            </div>
            <p> Thank you for choosing Canteen App! If you have any questions, need assistance, or would like to provide feedback, our Support team is always present to help.</p>
            <p>We provide on-site support for immediate assistance, so feel free to reach out.</p>
            <p><b>Location: </b>CITTU building <i>(beside new Admin block).</i></p>
            <p><b>Working Hours: </b>24 hours.</p>

        </div>
    </div>
</div>
{% endblock %}