{% extends 'base/base.html' %}
{% block content %}
<div class="container-fluid py-5 bg-dark hero-header">
    <div class="container py-3">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center text-center text-lg-start my-auto">
                <h1 class="display-3 text-primary animated slideInLeft">Enjoy Our<br>Delicious Meals</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">
                    Satisfy your cravings with ease. <br/>
                    Order, eat and enjoy in minutes!
                </p>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center animated slideInRight">
                <img class="img-fluid" src="/static/img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock content %}
