{% extends 'base/base.html' %}
{% block content %} 
<div class="container-fluid py-5 bg-dark hero-header">
    <div class="container my-3 py-3">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center text-center text-lg-start">
                <h1 class="display-3 text-primary animated slideInLeft">Enjoy Our<br>Delicious Meals</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">
                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. 
                    Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, 
                    sed stet lorem sit clita duo justo magna dolore erat amet
                </p>
                <!-- <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Order Meal</a> -->
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <img class="img-fluid" src="/static/img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock content %} 

  