{% extends 'base/base.html' %}

{% block content %}

<div class="flex justify-content-center align-items-center text-center pb-3 py-3 main-container">
  <h3 class="section-title ff-secondary text-center text-primary font-monospace mb-5">My Call Roster</h3>
  <!-- <div class="card col-lg-6 w-auto mx-auto my-3 shadow"> -->
    <!-- <div class="card-body"> -->
      <div class="call-container">
        {% for date in user_call_dates %}
            <div class="date-item"><i class="bi bi-calendar-check-fill"></i>  {{ date }}</div>
        {% empty %}
            <div class="date-item">No dates scheduled 😟</div>
        {% endfor %}
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>


{% endblock %}
